

body{
    /* background: radial-gradient(50% 50% at 50% 50%,#152431 0%,rgb(3 9 13 / 78%) 100%),linear-gradient(0deg,rgb(48 33 33),rgb(17 16 16 / 78%));   */
   background:  radial-gradient(50% 50% at 50% 50%, #152431 0%, rgb(3, 9, 13, 78%) 100%), linear-gradient(0deg, rgb(48, 33, 33), rgb(17, 16, 16, 78%));
    min-height:100vh;
    /* border: 1px solid rgba(255, 255, 255, 0.2) */
    
}

#root{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 20px
    

}